<p *ngIf="error" class="alert alert-danger">{{error}}</p>
<ul id="show-list" *ngIf="!error">
  <li *ngFor="let show of showlistObservable | async, let i = index">
    <a [href]="show.slug | showSlug"
      (mouseenter)="hoverItem = i"
      (mouseleave)="hoverItem = -1">
      <div [class.flex-card]="hoverItem === i">
        <img [src]="show.thumbnail"/>
        <div>
          <h3>{{show.title}}</h3>
          <p>Total time: {{show.length | videoLength}}</p>
          <p [class.hide-text]="hoverItem !== i">{{show.description}}</p>
        </div>
      </div>
    </a>
  </li>
</ul>
