#show-list {
  $color: #020202;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 1rem;
  li {
    a {
      text-decoration: none;
      color: $color;
      div {
        font-size: 1.2rem;
        margin-right: 1rem;
        .flex-card {
          display: flex;
          flex-direction: row;
        }
        img {
          height: 302px;
          width: 100%;
          object-fit: cover;
        }
        div {
          width: 100%;
          .hide-text {
            height: 3.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}
